html, body{
    min-height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9fae3;
}

#title{
    font-size: 40px;
    font-weight: 700;
    color: #003249;
}
#description{
    margin-top: -30px;
    font-size: 15px;
    font-weight: 600;
    color: #003249;
}

#tooltip{
    background-color: #003249;
    margin: 10px;
    padding: 10px;
    color: #e9fae3;
    font-weight: 600;
    border-radius: 10px;
}

svg{
    background-color: #003249;
    padding: 10px;
}

#canvas{
    width: 1000px;
    height: 650px;
    border-radius: 10px;
    margin: 50px;
    margin-top: -10px;
}

#legend{
    padding: 10px;
    border-radius: 10px;
}

#tooltip {
    visibility: hidden;
    height: auto;
    width: auto;
}

#signature {
    bottom: 10px; 
    text-align: center;
    color:  #9fb1bc; 
    font-size: 14px;
}
